.AboutBlock {
  text-align: left;
}

.aboutContainer {
  align-self: center;
  z-index: 27;
  position: relative;
  flex-direction: row;
  display: flex;
}

.bottomContainer {
  background-color: rgba(17, 19, 29, 0.445);
  justify-content: center;
  flex-direction: column;
  display: flex;
  z-index: 27;
  position: relative;

  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 4em;
}

.about {
  max-width: 800px;
  color: white;
  z-index: 27;
  position: relative;
  font-family: "Open sans, sans-serif";
  font-size: 1.5em;
  line-height: 2em;
  margin-left: 2em;
}

.aboutTitle {
  color: white;
  font-size: 4em;
  padding: 0.3em;
  align-self: center;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
}

.faceImg {
  height: 15em;
  width: 15em;
  object-fit: cover;
  display: flex;
  z-index: 1;
  position: relative;
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
  align-self: center;
}
